<p>Company list</p>
<table>
<tr>
<th>찜하기</th>
<th>name</th>
<th>PER</th>
<th>PBR</th>
<th>부채</th>
<th>자산</th>
<th>부채비율</th>
</tr>
<% @company.each do |c| %>
    <tr>
        <td>
            <% if current_user.profile.liked_companies.where(id: c.id).exists? %>
                <%= link_to image_tag('full_star.png', style: 'width: 20px;'),
                            company_like_path(company_id: c.id),
                            class: 'unlike',
                            remote: true
                            %>
            <% else %>
                <%= link_to image_tag('empty_star.png', style: 'width: 20px;'),
                            company_like_path(company_id: c.id),
                            class: 'like',
                            remote: true
                            %>
            <% end %>
        </td>
        <td><%= c.name %></td>
        <td><%= c.PER %></td>
        <td><%= c.PBR %></td>
        <td><%= c.total_liabilities %></td>
        <td><%= c.capital %></td>
        <td><%= (c.total_liabilities.to_f / c.capital * 100).round(3) %></td>
    </tr>
<% end %> </table>
