<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>CSS</title>
    <style>
        th {
            font-weight: bold;
        }
        td {
            border-bottom: 1px solid #363636;
            padding-top: 4px;
        }
    </style>
  </head>
  <body>
    <p>Company list</p>
    <table style="border: none;">
    <thead>
    <th>찜하기</th>
    <th>name</th>
    <th>PER</th>
    <th>PBR</th>
    <th>부채</th>
    <th>자산</th>
    <th>부채비율</th>
    </thead>
    <% @company.each do |c| %>
        <tr>
            <td>
                <% if user_signed_in? %>
                    <%= link_to image_tag('full_star.png', style: 'width: 20px; margin: 4px 0;'),
                                company_like_path(company_id: c.id),
                                class: "unlike#{c.id}",
                                style: "display: #{'none' if !current_user.profile.liked_companies.where(id: c.id).exists?}",
                                remote: true
                                %>
                    <%= link_to image_tag('empty_star.png', style: 'width: 20px; margin: 4px 0;'),
                                company_like_path(company_id: c.id),
                                class: "like#{c.id}",
                                style: "display: #{'none' if current_user.profile.liked_companies.where(id: c.id).exists?}",
                                remote: true
                                %>
                <% end %>
            </td>
            <td><%= c.name %></td>
            <td><%= c.PER %></td>
            <td><%= c.PBR %></td>
            <td><%= c.total_liabilities %></td>
            <td><%= c.capital %></td>
            <td><%= (c.total_liabilities.to_f / c.capital * 100).round(3) %></td>
            
        </tr>
    <% end %> </table>

    </body>
</html>