<head>
		<title>웹프개 7조 - 주린이를 위한 안내서 > 주린이 WIKI</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <%= javascript_include_tag "jquery.min" %>
        <%= javascript_include_tag "browser.min" %>
        <%= javascript_include_tag "breakpoints.min" %>
        <%= javascript_include_tag "util" %>
        <%= javascript_include_tag "main" %>
        <%= javascript_include_tag "diy" %>
        <%# <%= stylesheet_link_tag "main", media: "all" %>
        <%= stylesheet_link_tag "diy", media: "all" %>
        
</head>
<body id="diy"> 
    <div id="wrapper">
        <div id="main">
            <div class="inner"> 
                <%= render "articles/header" %>
                <section>
                    <header class="main">
                        <h1>
                            <%= link_to '직접해보기', '/diy' %>
                        </h1>
                    </header>
                    <p class="guide">지금까지 배운 내용을 바탕으로 직접 투자하고 싶은 기업을 찾아보세요!</p>
                    <div>
                    </div>

                    <%# <%= render "diy" %>
                    <div style="display: flex; flex-direction: row;">
                        <div class="input-group mb-3 pbr">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                                <span class="input-group-text clickable" id="basic-addon1" data-toggle="popover"
                                    title="PBR이란?" data-content="Price to Book Ratio : 주가순자산비율, 주가를 주당순자산으로 나눈것. <br /><br /><a href='/wiki/2/3'>🐥 주린이 위키 설명 바로가기</a>">PBR<sup>?</sup></span>
                            </div>
                            <input type="text" class="form-control pbr-form" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">이하</span>
                            </div>
                        </div>

                        <div class="input-group mb-3 per">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                                <span class="input-group-text clickable" id="basic-addon1">PER<sup>?</sup></span>
                            </div>
                            <input type="text" class="form-control per-form" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">이하</span>
                            </div>
                        </div>
                    </div>

                    <div>돈이 많은 기업을 찾고 있나요?</div>
                    <div class="input-group mb-3 capital">  
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </div>
                            <span class="input-group-text" id="basic-addon1">자본이 많은 상위</span>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">%</span>
                            <span class="input-group-text" id="basic-addon2">기업</span>
                        </div>
                    </div>
                   
                    <div>부채(빚)가 적은 기업을 찾고 있나요?</div>
                    <div class="input-group mb-3 liabilities">  
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </div>
                            <span class="input-group-text" id="basic-addon1">부채 비율이 양호한 상위</span>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">%</span>
                            <span class="input-group-text" id="basic-addon2">기업</span>
                        </div>
                    </div>

                    <div class="input-group mb-3">  
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </div>
                            <span class="input-group-text" id="basic-addon1">(<span class="clickable">유동 부채<sup>?</sup></span> * 2 < <span class="clickable">유동자산<sup>?</sup></span>)인 기업만 고르기</span>
                        </div>
                    </div>

                    <div class="input-group mb-3">  
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </div>
                            <span class="input-group-text" id="basic-addon1">(<span class="clickable">비유동부채<sup>?</sup></span> < <span class="clickable">유동자산<sup>?</sup></span> - <span class="clickable">유동부채<sup>?</sup></span>)인 기업만 고르기</span>
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: row;">
                        <div class="input-group mb-3 ebit">  
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                                <span class="input-group-text" id="basic-addon1"><span class="clickable">영업이익<sup>?</sup></span>이 0보다 큰 기업</span>
                            </div>
                        </div>

                        <div class="input-group mb-3 ci">  
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                                <span class="input-group-text" id="basic-addon1"><span class="clickable">총포괄이익<sup>?</sup></span>이 0보다 큰 기업</span>
                            </div>
                        </div>
                    </div>

                    <div>적자 말고 이익 내는 기업을 찾고 싶나요?</div>
                    <div class="input-group mb-3 coverage">  
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </div>
                            <span class="input-group-text" id="basic-addon1">이자 보상 비율(<span class="clickable">영업이익</span>/<span class="clickable">이자비용</span>)이 좋은 상위</span>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">%</span>
                            <span class="input-group-text" id="basic-addon2">기업</span>
                        </div>
                    </div>

                    <div class="input-group mb-3 roe">  
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </div>
                            <span class="input-group-text" id="basic-addon1"><span class="clickable">ROE<sup>?</sup> </span> 상위</span>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">%</span>
                            <span class="input-group-text" id="basic-addon2">기업</span>
                        </div>
                    </div>
                
                <button type="submit" class="submit">조건에 맞는 기업 목록 보기</button>                    

                </section>
            </div>
        </div>
        <%= render "articles/sidebar" %>
    </div>
</body>