<head>
		<title>웹프개 7조 - 주린이를 위한 안내서 > 주린이 WIKI</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <%= javascript_include_tag "jquery.min" %>
        <%= javascript_include_tag "browser.min" %>
        <%= javascript_include_tag "breakpoints.min" %>
        <%= javascript_include_tag "util" %>
        <%= javascript_include_tag "main" %>
        <%= javascript_include_tag "diy" %>
        <%= stylesheet_link_tag "main", media: "all" %>
        
</head>
<body id="diy"> 
    <div id="wrapper">
        <div id="main">
            <div class="inner"> 
                <%= render "articles/header" %>
                <section>
                    <header class="main">
                        <h1>
                            <%= link_to '직접해보기', '/diy' %>
                        </h1>
                    </header>
                    <div id="diy-select-box">
                    <%= form_with :url => "/diy/result", :method => "get" do %>
                        <div style="display: flex; flex-direction: row;">
                       <%= render partial: "value_form", locals: 
                        { myclass: "pbr", 
                        popover:true,
                        title: "PBR이란?",
                        data: "Price to Book Ratio : 주가순자산비율, 주가를 주당순자산으로 나눈것. <br/><br/>",
                        link: '/wiki/2/3',
                        sup: "PBR",
                        addon: "이하"
                    }
                         %>
                         <%= render partial: "value_form", locals: 
                        { myclass: "per", 
                        popover:true,
                        title: "PER이란?",
                        data: "PER설명추가. <br/><br/>",
                        link: '/wiki/2',
                        sup: "PER",
                        addon: "이하"
                    }
                         %>
                         </div>
                         <div>돈이 많은 기업을 찾고 있나요?</div>
                         <%= render partial: "value_form", locals: 
                        { myclass: "capital", 
                        title: "자본이 많은 상위",
                        addon: "% 기업"
                    } %>
                         <div>부채(빚)가 적은 기업을 찾고 있나요?</div>
                         <%= render partial: "value_form", locals: 
                         { myclass: "liabilities", 
                         title: "부채 비율이 양호한 상위",
                         addon: "% 기업"
                     } %>
                     <div class="input-group mb-3">  
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </div>
                            <span class="input-group-text" id="basic-addon1">(<span class="clickable">유동 부채<sup>?</sup></span> * 2 < <span class="clickable">유동자산<sup>?</sup></span>)인 기업만 고르기</span>
                        </div>
                    </div>
                    <div class="input-group mb-3">  
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </div>
                            <span class="input-group-text" id="basic-addon1">(<span class="clickable">비유동부채<sup>?</sup></span> < <span class="clickable">유동자산<sup>?</sup></span> - <span class="clickable">유동부채<sup>?</sup></span>)인 기업만 고르기</span>
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: row;">
                        <div class="input-group mb-3 ebit">  
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                                <span class="input-group-text" id="basic-addon1"><span class="clickable">영업이익<sup>?</sup></span>이 0보다 큰 기업</span>
                            </div>
                        </div>

                        <div class="input-group mb-3 ci">  
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                </div>
                                <span class="input-group-text" id="basic-addon1"><span class="clickable">총포괄이익<sup>?</sup></span>이 0보다 큰 기업</span>
                            </div>
                        </div>
                    </div>

                    <div>적자 말고 이익 내는 기업을 찾고 싶나요?</div>

                    <%= render partial: "value_form", locals: 
                         { myclass: "coverage", 
                         title: "이자 보상 비율( 영업이익 / 이자비용 )이 좋은 상위",
                         addon: "% 기업"
                     } %>

                     <%= render partial: "value_form", locals: 
                         { myclass: "roe", 
                         title: "ROE 상위",
                         addon: "% 기업"
                     } %>
                    <%=button_tag '조건에 맞는 기업 목록 보기', type: 'submit' %>
                      <% end %>
                </div>
                <div id="result"></div>
                </section>
            </div>
        </div>
        <%= render "articles/sidebar" %>
    </div>
</body>