<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "browser.min" %>
    <%= javascript_include_tag "breakpoints.min" %>
    <%= javascript_include_tag "util" %>
    <%= javascript_include_tag "main" %>
    <%= stylesheet_link_tag "main", media: "all" %>
</head>

<body class="is-preload">
    <div id="wrapper">
        <div id="main">
            <div class="inner">
                <header id="header">
                    <!--여기에 배너 + 메뉴 넣기-->
                    <%= image_tag "logo_2_navy.png", style: 'width: 40%;' %>

                    <ul class="actions">
                        <li><%= link_to "주린이 WIKI", "../wiki/0", class: 'button' %></li>
                        <li><%= link_to "고수되기", "../expert/0", class: 'button' %></li>
                    </ul>
                    <ul class="mypage">
                        <li><%= link_to "초기화면", home_path %></li>
                    </ul>
                    <br>
                </header>

                <section>
                    <header class="main">
                        <%= image_tag "mypage.png", style: 'width: 32%;' %> 
                    </header>

                        <div style="display: flex; flex-direction: row; ">
                            <h4>이름</h4>
                            <div style="margin: auto 0 auto 120px"><%= current_user.name %></div>
                        </div>

                    <hr>
                    <div style="display: flex; flex-direction: row; ">
                        <div class="zzim-company" style="width: 50%">
                            <h4>내가 찜한 기업</h4>
                            <br>

                            <% @companies.each do |company| %>
                                <h5>
                                    <%= link_to company.name,
                                        "https://finance.naver.com/item/main.nhn?code=#{company.code[1..-1]}",
                                        target: '_blank' %>
                                </h5>
                            <% end %>                        
                        </div>
                        <div class="scrap-articles">
                            <h4>스크랩한 아티클</h4>
                            <br>
                            <h5>
                                <% @articles.each do |article| %>
                                    <% if article.if_wiki %>
                                        <% if article.if_sub %>
                                            <%= link_to "#{article.title} >> #{article.sub_title}", "/wiki/#{article.chapter}/#{article.sub_chapter}" %>
                                        <% else %>
                                            <%= link_to "#{article.title}", "/wiki/#{article.chapter}" %>
                                        <% end %>
                                    <% else %>
                                        <% if article.if_sub %>
                                            <%= link_to "#{article.title} >> #{article.sub_title}", "/expert/#{article.chapter}/#{article.sub_chapter}" %>
                                        <% else %>
                                            <%= link_to "#{article.title}", "/expert/#{article.chapter}" %>
                                        <% end %>
                                    <% end %>
                                    <br>
                                <% end %>
                            </h5>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <h4 style="margin-bottom: 10px">내 메모</h4>
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap; margin: auto">
                            <% @memos.each do |memo| %>
                                <div style="border: 4px solid #254653; border-radius: 10px; width: 30%; heigt: auto; padding: 10px; margin: 10px; position: relative">
                                    <h6><%= memo.article.sub_title %></h6>
                                    <hr>
                                    <% if memo.article.if_wiki %>
                                        <%= memo.text %>
                                        <div style="position: absolute; right: 10px; bottom: 10px;">
                                            <%= link_to "GO!",
                                                wiki_show_path(chapter: memo.article.chapter, sub_chapter: memo.article.sub_chapter),
                                                style: "font-weight: bold; font-size: 20px;" %>
                                        </div>
                                    <% else %>
                                        <%= memo.text %>
                                        <div style="position: absolute; right: 10px; bottom: 10px">
                                        <%= link_to "GO!",
                                            expert_show_path(chapter: memo.article.chapter, sub_chapter: memo.article.sub_chapter),
                                            style: "font-weight: bold; font-size: 20px;" %>
                                        </div>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>