<h1>My Page</h1>
<%= link_to  "프로필 수정하기", edit_profile_path(current_user.id) %>

<div>이름: <%= current_user.name %></div>

<h3>내가 찜한 기업</h3>
<ul>
<% @companies.each do |company| %>
     <li>
        <%= link_to company.name,
            "https://finance.naver.com/item/main.nhn?code=#{company.code[1..-1]}",
            target: '_blank' %>
    </li>
<% end %>
</ul>

<h3>좋아요한 아티클</h3>
<ul>
<% @articles.each do |article| %>
    <% if article.if_wiki %>
        <% if article.if_sub %>
            <%= link_to "#{article.title} >> #{article.sub_title}", "/wiki/#{article.chapter}/#{article.sub_chapter}" %>
        <% else %>
            <%= link_to "#{article.title}", "/wiki/#{article.chapter}" %>
        <% end %>
    <% else %>
        <% if article.if_sub %>
            <%= link_to "#{article.title} >> #{article.sub_title}", "/expert/#{article.chapter}/#{article.sub_chapter}" %>
        <% else %>
            <%= link_to "#{article.title}", "/expert/#{article.chapter}" %>
        <% end %>
    <% end %>
    <br>

<% end %>
</ul>


