<style>
    .unlike:hover, .like:hover, .memo-button:hover, .turn-page:hover {
        text-decoration: underline;
    }
</style>
<h5>
<% if user_signed_in? %>
    <%= link_to image_tag('full_heart.png', style: 'width: 30px; margin-right: 4px;') + "좋아요 취소",
                article_like_path(article_id: @article.id),
                class: 'unlike',
                style: "display: #{'none' if !current_user.profile.liked_articles.where(id: @article.id).exists?}",
                remote: true
                %>
    <%= link_to image_tag('empty_heart.png', style: 'width: 30px; margin-right: 4px;') + "좋아요",
                article_like_path(article_id: @article.id),
                class: 'like',
                style: "display: #{'none' if current_user.profile.liked_articles.where(id: @article.id).exists?}",
                remote: true
                %>
    <% end %>
    <% if @next_url %>
    <% if @article.if_wiki && @article.if_sub %>
        <% if user_signed_in? %>
            <% if !current_user.profile.memos.where(profile: current_user.profile, article: @article).exists? %>
                <%= link_to image_tag("memo.png", style:'width:30px; margin-right: 4px;')+'새 메모', 
                            memo_new_path(type: 'wiki', chapter: @article.chapter, sub_chapter: @article.sub_chapter),
                            class: 'memo-button',
                            remote: true %> 
            <% else %>               
                <%= link_to image_tag("memo.png", style:'width:30px; margin-right: 4px;')+'메모 보기',
                            memo_show_path(type: 'wiki'),
                            class: 'memo-button',
                            remote: true %>
            <% end %>
        <% end %>
    <% elsif !@article.if_wiki && @article.if_sub %>
        <% if user_signed_in? %>
            <% if !current_user.profile.memos.where(profile: current_user.profile, article: @article).exists? %>
                <%= link_to image_tag("memo.png", style:'width:30px; margin-right: 4px;')+'새 메모',
                            memo_new_path(type: 'expert', chapter: @article.chapter, sub_chapter: @article.sub_chapter),
                            class: 'memo-button',
                            remote: true %> 
            <% else %>               
                <%= link_to image_tag("memo.png", style:'width:30px; margin-right: 4px;')+'메모 보기',
                            memo_show_path(type: 'expert'),
                            class: 'memo-button',
                            remote: true %>
            <% end %>
        <% end %>          
    <% end %>
        <%= link_to image_tag('next.png', style:'width: 30px;') + '다음페이지로 이동', @next_url, class: 'turn-page' %>
        <div class="show-memo"></div>
    <% else %>
    <% if @article.if_wiki %>
        <% if user_signed_in? %>
            <% if !current_user.profile.memos.where(profile: current_user.profile, article: @article).exists? %>
                <%= link_to image_tag("memo.png", style:'width:30px; margin-right: 4px;')+'새 메모',
                            memo_new_path(type: 'wiki', chapter: @article.chapter, sub_chapter: @article.sub_chapter),
                            class: 'memo-button',
                            remote: true %> 
            <% else %>               
                <%= link_to image_tag("memo.png", style:'width:30px; margin-right: 4px;')+'메모 보기',
                            memo_show_path(type: 'wiki'),
                            class: 'memo-button',
                            remote: true %>
            <% end %>
        <% end %>
        <%= link_to image_tag('return.png', style:'width: 30px;') + '첫 페이지로 이동', '/wiki/0', class: 'turn-page' %>
        <div class="show-memo"></div>
    <% else %>
        <% if user_signed_in? %>
            <% if !current_user.profile.memos.where(profile: current_user.profile, article: @article).exists? %>
                <%= link_to image_tag("memo.png", style:'width:30px; margin-right: 4px;')+'새 메모', 
                            memo_new_path(type: 'expert', chapter: @article.chapter, sub_chapter: @article.sub_chapter),
                            class: 'memo-button',
                            remote: true %> 
            <% else %>               
                <%= link_to image_tag("memo.png", style:'width:30px; margin-right: 4px;')+'메모 보기',
                            memo_show_path(type: 'expert'),
                            class: 'memo-button',
                            remote: true %>
            <% end %>
        <% end %>
        <%= link_to image_tag('return.png', style:'width: 30px;') + '첫 페이지로 이동', '/expert/0', class: 'turn-page' %>
        <div class="show-memo"></div>
    <% end %>
<% end %>
</h5>