<head>
		<title>웹프개 7조 - 주린이를 위한 안내서 > 주린이 WIKI</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <%= javascript_include_tag "jquery.min" %>
        <%= javascript_include_tag "browser.min" %>
        <%= javascript_include_tag "breakpoints.min" %>
        <%= javascript_include_tag "util" %>
        <%= javascript_include_tag "main" %>
        <%= stylesheet_link_tag "main", media: "all" %>
        
    </head>
<body>
<!-- Wrapper -->
<div id="wrapper">
<div id="main">
        <div class="inner">
            <!-- Header -->
								<header id="header">
                                    <!--여기에 배너 + 메뉴 넣기-->
                                    <%= image_tag "logo_2_navy.png", :alt => "", style: 'width: 0.4em;' %>
                                    <div class="actions">
                                        <% if @article.if_wiki %>
                                            <%= link_to '고수되기', '/expert/0', :class=> 'button' %>
                                        <% else %>
                                            <%= link_to '주린이 WIKI', '/wiki/0', :class=> 'button' %>
                                        <% end %>
									</div>
                                    <div class="mypage">
                                    <% if user_signed_in? %>
						<div><a href="/users/sign_out" data-method="delete">로그아웃</a></div>
						<div><%= link_to "마이페이지", controller: "profile", action: "index", id: current_user.id %></div>
					<% else %>
						<a href="/users/sign_in"> Sign in </a>
						<a href="/users/sign_up"> Sign up </a>
					<% end %>
                                        <div>
                                            <%= link_to '초기화면', '/home' %>
                                        </div>
                                        </div>
                                    <br>
                                </header>
                                <!-- Content -->
            <section>
                <% if @article.if_sub %>
                    <h5>
                        <%= link_to @article.title, @title_url %>  &gt;  
                        <%= link_to @article.sub_title, @sub_url %> 
                    </h5>
                <% else %>
                    <h5>
                        <%= link_to @article.title, @title_url %>
                    </h5>
                <% end %>
                    <br>
                <header class="main">
                <% if @article.if_sub %>
                    <h1><%= @article.sub_title %></h1>
                <% else %>
                    <h1><%= @article.title %></h1>
                <% end %>
                </header>
                <div><%= @article.content.html_safe %></div>
                <h5>
                <% if @next_url %>
                    <%= link_to '다음페이지로 이동', @next_url %>
                <% else %>
                    <% if @article.if_wiki %>
                        <%= link_to '첫 페이지로 이동', '/wiki/0' %>
                    <% else %>
                        <%= link_to '첫 페이지로 이동', '/expert/0' %>
                    <% end %>
                <% end %>

                
                </h5>
            </section>
        </div>
</div> 
<!-- Sidebar -->
    <div id="sidebar">
        <div id="inner">
        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search" />
            </form>
        </section>

    <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>주린이 WIKI</h2>
                <h2>INDEX</h2>
            </header>
            <ul>
            <% if @article.if_wiki %>
                <% @titles.each do |title| %>
                    <li>
                        <span class="opener">
                        <%= link_to title.title, '/wiki/'+title.chapter.to_s %>
                        </span>
                        <ul>
                        <% @sub_titles.select { |s| s.chapter == title.chapter }.each do |subs| %>
                            <li><%= link_to subs.sub_title, '/wiki/'+subs.chapter.to_s + '/'+subs.sub_chapter.to_s %></li>
                            <% end %>
                        </ul>
                    </li>
                <% end %>                   
            <% else %>
                <% @titles.each do |title| %>
                    <li>
                        <span class="opener">
                        <%= link_to title.title, '/expert/'+title.chapter.to_s %>
                        </span>
                        <ul>
                        <% @sub_titles.select { |s| s.chapter == title.chapter }.each do |subs| %>
                            <li><%= link_to subs.sub_title, '/expert/'+subs.chapter.to_s + '/'+subs.sub_chapter.to_s %></li>
                            <% end %>
                        </ul>
                    </li>
                <% end %>    
            <% end %>
            
            </ul>
        </nav>
                <!-- Footer -->
                    <footer id="footer">
                        <p class="copyright">2020-1 웹프로그래밍 7조 - 주린이를 위한 안내서</p>
                    </footer>
        </div>
    </div>
</div> #wrapper
</body>



