<head>
		<title>웹프개 7조 - 주린이를 위한 안내서 > 주린이 WIKI</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <%= javascript_include_tag "jquery.min" %>
        <%= javascript_include_tag "browser.min" %>
        <%= javascript_include_tag "breakpoints.min" %>
        <%= javascript_include_tag "util" %>
        <%= javascript_include_tag "main" %>
        <%= stylesheet_link_tag "main", media: "all" %>
        
    </head>
<body id="article-show">
<!-- Wrapper -->
<div id="wrapper">
<div id="main">
        <div class="inner">
            <%= render "header",  locals: { article: @article } %>
                    <!-- Content -->
            <section>
                <% if @article.if_sub %>
                    <h5>
                        <%= link_to @article.title, @title_url %>  &gt;  
                        <%= link_to @article.sub_title, @sub_url %> 
                    </h5>
                <% else %>
                    <h5>
                        <%= link_to @article.title, @title_url %>
                    </h5>
                <% end %>
                    <br>
                <header class="main">
                <% if @article.if_sub %>
                    <h1><%= @article.sub_title %></h1>
                <% else %>
                    <h1><%= @article.title %></h1>
                <% end %>
                </header>
                <div><%= @article.content.html_safe %></div>
                <h5>

                <% if user_signed_in? %>
                    <%# <% if current_user.profile.liked_articles.where(id: @article.id).exists? %> 
                        <%= link_to image_tag('full_heart.png', style: 'width: 30px;') + "좋아요 취소",
                                    article_like_path(article_id: @article.id),
                                    class: 'unlike',
                                    remote: true
                                    # style: 'display: none'
                                    %>
                    <%# <% else %> 
                        <%= link_to image_tag('empty_heart.png', style: 'width: 30px;') + "좋아요",
                                    article_like_path(article_id: @article.id),
                                    class: 'like',
                                    remote: true
                                    # style: 'display: none'
                                    %>
                    <%# <% end %> 
                <% end %>
                <br>

                <% if @next_url %>
                    <%= link_to '다음페이지로 이동', @next_url %>
                <% else %>
                    <% if @article.if_wiki %>
                        <%= link_to '첫 페이지로 이동', '/wiki/0' %>
                    <% else %>
                        <%= link_to '첫 페이지로 이동', '/expert/0' %>
                    <% end %>
                <% end %>

                
                </h5>
            </section>
        </div>
</div> 
<%= render "sidebar" %>
</div> 
</body>



