<html>
  <body class="register">
    <%= stylesheet_link_tag "login", media: "all" %>
    <div class="wrapper fadeInDown">
      <div id="formContent">

      <h2>Log in</h2><br>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>

      <div id="formFooter">
          <%= link_to  "SIGN UP", "/users/sign_up", class:"underlineHover" %><br><br>
          <%= link_to  "GO BACK", home_path, class:"underlineHover" %>
      </div>  

      </div>
    </div>
  </body>
</html>


